<div id="page">
  <table class="job-applicants">
    <thead>
      <tr>
        <th>Job</th>
        <th>Applicant Name</th>
        <th>Email Address</th>
        <th>Website</th>
        <th>Skills</th>
        <th>Cover Letter Paragraph</th>
      </tr>
    </thead>

    <tbody>
      <%= render 'body' %>
    </tbody>

    <tfoot>
      <%= render 'footer' %>
    </tfoot>
  </table>
</div>
